<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
	<title>hopbox iframe</title>

  <body>
    <script type="text/javascript" charset="utf-8">
			document.domain='localhost:3000';
    </script>
  </body>
</html>
